.InputWrapper {
    width: 100%;
    position: relative;
}

.Input {
    box-shadow: none;
    outline: none;
    border: none;
    padding: 16px;
    border-radius: var(--input-border-radius);

    &::placeholder {
        font-family: var(--font-family-main);
        color: var(--inverted-bg-color);
    }

    &:focus {
        &::placeholder {
            color: var(--inverted-unfocus-input);
        }
    }
}

.filled {
    .Input {
        border-radius: 0;
        background-color: var(--unfocus-input);
        border-bottom: var(--input-border-size) var(--inverted-unfocus-input) solid;

        &:focus {
            animation: outlined-focus 0.5s forwards;
            border-color: var(--primary-color);
        }
    }
}

.outlined {
    .InputLabel {
        position: absolute;
        top: 16px;
        left: 16px;
    }

    & .Input {
        border: var(--input-border-size) var(--unfocus-input) solid;
        box-shadow: none;
        background-color: inherit;

        &:focus {
            animation: outlined-focus 0.5s forwards;
            border-color: var(--primary-color);
        }

		&:focus + .InputLabel {
			top: -10px;
		}
    }
}

@keyframes outlined-focus {
    from {
        border-color: var(--unfocus-input);
    }

    to {
        border-color: var(--primary-color);
    }
}
