.app.dark{
    --bg-color: #09095e;
    --inverted-bg-color: #f8f8f8;
    --primary-color: #55d955;
    --secondary-color: #01b801;
    --inverted-primary-color: #001b37;
    --inverted-secondary-color: #072b5d;
}