.app_light_theme {
    --bg-color: #fff;
    --inverted-bg-color: #121212;
    --primary-color: #6200ee;
    --secondary-color: #00a695;
    --inverted-primary-color: #bb86fc;
    --inverted-secondary-color: #03dac6;
    --unfocus-input-bg: rgb(177 176 176 / 40%);
    --inverted-unfocus-input-bg: rgb(226 226 226 / 60%);
    --unfocus-input-border: rgb(133, 133, 133, 60%);
    --inverted-unfocus-input-border: rgb(0 0 0 / 30%);
}
