.app.light{
    --bg-color: #f8f8f8;
    --inverted-bg-color: #d5d5ff;
    --primary-color: #001b37;
    --secondary-color: #072b5d;
    --inverted-primary-color: #e9ff27;
    --inverted-secondary-color: #3e3e3e;
}
