.app.light {
    --bg-color: #fff;
    --inverted-bg-color: #121212;
    --primary-color: #6200ee;
    --secondary-color: #03dac6;
    --inverted-primary-color: #bb86fc;
    --inverted-secondary-color: #03dac6;
}
