.AppLink {
    color: var(--primary-color);
    text-decoration: none;
    text-transform: uppercase;
}

.primary {
    color: var(--inverted-primary-color);
}

.secondary {
    color: var(--inverted-secondary-color);
}